@{
                /**/

                ViewBag.Title = "About";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/About.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="ul">
           <li><a href="@Url.Action("Index","Home")">Index</a></li>
           <li><a href="@Url.Action("Mission","Home")">Mission</a></li>
           <li><a href="@Url.Action("MissionFAQ","Home")">MissionFAQ</a></li>
           <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
           <li><a class="active">About</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>
            About Us
        </h2>
    </div>
    <div class="row">
        <div class="column">
            <img src="~/Content/Images/Up_Guy.jpg" width="550" height="400" />
        </div>
        <div class="column">
            <h3>
                The Missionary Site was created to help future missionaries get in touch with past missionaries to answer all thier burning desires.
            </h3>
            <br />
            <h3>
                Please visit the MissionFAQ page to ask all your questions.
            </h3>
        </div>
    </div>

</body>