@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>

<div class="jumbotron">
    <h1>Are You Ready for Your Mission?</h1>
    <p class="lead">Before getting to the mission field you may have tons of questions. Let us help you get all the questions you have answered before you head out.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Find your mission!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mission FAQ's</h2>
        <p>
            Every missionary gets to their mission almost in the dark. We want to help you not only learn more about what missions are in general but also
            to remove your worries, doubts and general questions about the experience.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mission Gear</h2>
        <p>One of the hard things about preparing is the gear you need. Check out Missionary Mall for some great packages for Elders and Sisters.</p>
        <p><a class="btn btn-default" href="https://missionarymall.org/">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Feel free to contact us with custom questions that you have and we will try our best to answer them or find someone who can answer them.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<br />
<div class="YoTube">
    <h2>Find out what to expect in the Missionary Training Center (MTC)</h2>
    <iframe width="840" height="472" src="https://www.youtube.com/embed/W0-0nniCz6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
