@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="ul">
            <li><a class="active">Index</a></li>
            <li><a href="@Url.Action("Mission","Home")">Mission</a></li>
            <li><a href="@Url.Action("MissionFAQ","Home")">MissionFAQ</a></li>
            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
            <li><a href="@Url.Action("About","Home")">About</a></li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1>Missionary</h1>
        <p class="lead">(N.) People who leave their families for 2 years so others can be with theirs for ETERNITY</p>
        <p><a href="https://lds.org" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</body>
